<h3>Créditos:</h3>
<p>Autor: ARP</p>
<p><img src="images/author.jpg" width="100" /></p>
<p></p>
<p>Quiz original: Juan Quemada Vives </p>
<p><a href="http://www.upm.es">Universidad Politécnica de Madrid</a></p>
<p><img src="images/upm.jpg" width="100" /></p>
